body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c7175;
  margin: 0px;
  min-height: 100vh;
}

form {
  padding-top: 15px;
  width: 50vw;
  display: inline-block;
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
label {
  display: block;
  width: 100%;
  margin-bottom: 5px;

  font-weight: bold;
  color: #094269;
}

.buttons {
  display: flex;
  justify-content: center;

  align-items: center;
}
button {
  height: 30px;
  color: #07522b;
  border-radius: 5px;
  border-radius: 5px;
  border: 0.5px solid black;
}

input {
  display: inline-block;
  margin-bottom: 15px;
  color: #07522b;
  height: 30px;
  border-radius: 5px;
  border: 0.5px solid black;
}

p {
  font-weight: bold;
  color: green;
}
h3 {
  color: #524a06;
  text-decoration: underline;
}
